* {
    box-sizing: border-box;
  }

  :root { 
    background-color: rosybrown;

  }

header { 
 padding: 15px 8% 10px 0;
display: flex;
box-shadow: 0 5px 35px rgba(50, 63, 63, 0.4);
background-color:rgba(204, 255, 0, 0.604) ;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
font-size: larger;
  
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    color: black;
    line-height: 1.5;
  }

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main {
    max-width: 50%;
    margin-left: auto;
  }
  
  .section {
    margin: 15px 0;
    padding: 25px 0;
    display: flex;
    flex-direction: row;
    

h1,
h2,
h3,
h4
 {
  margin: 0;
}

p {
    margin: 0;
  }
.contact {
    color: black;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}